.tooltip-container[data-v-2371dbee]{background-color:#fff;border-radius:.5rem;box-shadow:0 30px 90px -20px #0000004d;flex-direction:column;gap:.5rem;min-height:2rem;padding:.5rem 1rem;width:40ch;z-index:50}
